@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  background-color: #12171d;
  color: #fff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
